atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
behave==1.2.6; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
glob2==0.7; python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.7"
mako==1.2.0; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
parse-type==0.6.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
parse==1.19.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-bdd==5.0.0; python_version >= "3.6"
pytest==7.1.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
